.App {
  text-align: left;
  padding-left: 10%;
  display: table;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.left{
  height:100%;
  display: table-cell;
}
.left .red {
  color: red;
  font-size: 16px;
}
.right{
  width: 85%;
  display: table-cell;
}
.default {
  display: inline-block;
  border: 1px dashed;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background: #ffffff;
}
.selected{
  border: 1px solid;
}
.selected:after{
  content: '';
  border: solid 19px #ffffff00;
  border-bottom-color: #222222;
  border-right: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.selected:before{
  content: '\221A';
  color: #ffffff;
  position: absolute;
  right: 0;
  font-size: 12px;
  bottom: 0;
  z-index: 99;
}
.open{
  background: #d3d3d3;
}
.sub:after ,.sub:before{
  display: none;
}
.types{
  background: #e4e4e4;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
}